<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        <supportedRuntime version="v2.0.50727"/>
    </startup>

    <appSettings>
        <!-- HTTP代理设置 -->
        <add key="IsHttpProxy" value="true"/>
        <add key="HttpProxyHost" value="10.100.66.10"/>
        <add key="HttpProxyPort" value="808"/>
        <add key="HttpProxyUser" value=""/>
        <add key="HttpProxyPwd" value=""/>
    
        <!-- 下载类型 -->
        <add key="DownloadType" value="jar;pom"/>
        
        <!-- 中央库与本地目录映射配置文件 -->
        <add key="MappingConfig" value="Resources/MavenCentralConfiguration.xml"/>
    </appSettings>
</configuration>